<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.OrdersMapper">
    <!--使用insert|update|delete|select标签写sql-->
    <!--定义基础的ResultMap-->
    <resultMap id="BaseResultMap" type="Bean.Orders">
        <id property="id" column="id"/>
        <result column="ordersNo" property="ordersno" />
        <result column="accountId" property="accountid" />
        <result column="roomTypeId" property="roomtypeid" />
        <result column="roomId" property="roomid" />
        <result column="reservationName" property="reservationname" />
        <result column="idCard" property="idcard" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="reserveDate" property="reservedate" />
        <result column="arriveDate" property="arrivedate" />
        <result column="leaveDate" property="leavedate" />
        <result column="reservePrice" property="reserveprice" />
        <result column="remark" property="remark" />
    </resultMap>

    <resultMap id="ordersRoomAndTypeResultMap" type="Bean.Orders" extends="BaseResultMap">
        <!--配置订单与房间的关系-->
        <association property="room" javaType="Bean.Room">
            <id column="id" property="id"/>
            <result property="roomnum" column="roomnum"/>
        </association>
        <!--配置订单与房型的关系-->
        <association property="roomType" javaType="Bean.RoomType">
            <id property="id" column="id" />
            <result property="typename" column="typeName"/>
            <result property="price" column="price"/>
        </association>
    </resultMap>



    <insert id="addOrders">
        insert into t_orders
        (ordersno,accountid,roomtypeid,roomid,reservationname,idcard,phone,status,reservedate,arrivedate,leavedate,reserveprice,remark)
        values (#{ordersno},#{accountid},#{roomtypeid},#{roomid},#{reservationname},#{idcard},#{phone},#{status},#{reservedate},#{arrivedate},#{leavedate},#{reserveprice},#{remark})
    </insert>

    <select id="findOrdersList" resultMap="ordersRoomAndTypeResultMap">
        SELECT t1.*,t2.roomNum,t3.typeName,t3.price FROM t_orders t1
        INNER JOIN t_room t2 ON t2.id=t1.roomId
        INNER JOIN t_room_type t3 ON t3.id=t1.roomTypeId
        <where>
            <if test="reservationname!=null and reservationname!=''">
                and t1.reservationname like concat('%',#{reservationname},'%')
            </if>
            <if test="idcard!=null and idcard!=''">
                and t1.idcard like concat('%',#{idcard},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and t1.phone like concat('%',#{phone},'%')
            </if>
            <if test="roomtypeid!=null">
                and t1.roomtypeid=#{roomtypeid}
            </if>
            <if test="status!=null">
                and t1.status=#{status}
            </if>
            <if test="startDate!=null">
                <![CDATA[and t1.reservedate>=#{startDate}]]>
            </if>
            <if test="endDate!=null">
                <![CDATA[and t1.reservedate<=#{endDate}]]>
            </if>
        </where>
    </select>

    <update id="updateOrders" parameterType="Bean.Orders">
    update t_orders
    <set>
    <if test="ordersno != null">
        ordersNo = #{ordersno},
    </if>
    <if test="accountid != null">
        accountId = #{accountid},
    </if>
    <if test="roomtypeid != null">
        roomTypeId = #{roomtypeid},
    </if>
    <if test="roomid != null">
        roomId = #{roomid},
    </if>
    <if test="reservationname != null">
        reservationName = #{reservationname},
    </if>
    <if test="idcard != null">
        idCard = #{idcard},
    </if>
    <if test="phone != null">
        phone = #{phone},
    </if>
    <if test="status != null">
        status = #{status},
    </if>
    <if test="reservedate != null">
        reserveDate = #{reservedate},
    </if>
    <if test="arrivedate != null">
        arriveDate = #{arrivedate},
    </if>
        <if test="leavedate != null">
            leaveDate = #{leavedate},
        </if>
        <if test="reserveprice != null">
            reservePrice = #{reserveprice},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
    </set>
        where id = #{id}
    </update>




</mapper>



